{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}Profile{% endblock %}

{% block content %}

{% include 'navbar.html' %}

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card center cyan lighten-5">
          {% if user.get_full_name %}
            <span class="card-title">User profile of {{user.get_full_name}}</span>
          {% else %}
            <span class="card-title">User profile of {{user.username}}</span>
          {% endif %}
          <div class="card-image">
            <img src="{{user.profile.image}}" alt="" style="width: 180px; height: 180px; border-radius: 50%; margin: 10px auto;">
          </div>
          <p class="card-content">Username: {{user.username}}</p>
          <p class="card-content">First name: {{user.first_name}}</p>
          <p class="card-content">Last name: {{user.last_name}}</p>
          <p class="card-content">Email: {{user.email}}</p>
          <div class="card-content">
            <a href="{% url 'profile_edit' %}">
              <button type="submit" class="waves-effect waves-light btn blue lighten-1">Edit profile</button></a>
          </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}