{% extends 'base.html' %}

{% load static %}

{% block title %}Vehicles{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1>All vehicles</h1>
    <div class="row">
        {% for vehicle in my_vehicle %}
        <div class="col-md-3">
            <table class="table table-hover">
                <tr>
                    <th>{{vehicle.name}}</th>
                </tr>
                {% for v in vehicle.vehicle_set.all %}
                <tr>
                    <td>
                        {{v.size}}
                    </td> 
                </tr>
                {% endfor %}
            </table>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}