:root {
    --main-color: #0816af;
    --main-side-1: #e4e4e4;
    --main-side-2: #252525;
    --complementary-color: #6b5604;
    --complementary-side: #EBD276;
}

body {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5;
    box-sizing: border-box;
    display: block;
    background-color: var(--main-side-1);
    color: var(--main-side-2);
}

.headline {
    text-align: left;
    margin-left: 10vw;
    margin-top: 8em;
    font-size: 36px;
}

.underline {
    width: 80vw;
}

.btn-website {
    width: max-content;
    height: max-content;
    background-color: var(--main-color);
    color: var(--main-side-1);
    border-radius: 1px;
    transition: 0.1s ease-in-out;
}

.btn-website:hover {
    color: var(--main-side-1);
    transform: scale(1.03);
}

.container-top-section::after {
    content: "";
    background: url('img/131382-abstract-grey-and-white-polygon-pattern-background-illustration.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;   
}

/* Navbar */

.nav-item {
    font-size: 20px;
}

.navbar-settings {
    background-color: var(--main-side-1);
    opacity: 0.9;
}

.nav-link-change {
    color: var(--main-side-2);
    text-decoration: none;
    transition: 0.1s ease-in-out;
}

.nav-link-change:hover {
    background-color: var(--complementary-color);
    color: var(--main-side-1);
}

.icons {
    display: flex;
    justify-content: center;
}

.fa-logo {
    margin: 0 0.5em;
    font-size: 32px;
    color: var(--main-side-2);
    transition: 0.1s ease-in-out;
}

.fa-logo:hover {
    color: var(--complementary-color);
}

/* Top section */

.logo-text {
    font-weight: 600;
    font-size: 42px;
    color: var(--main-side-2);
}

.head-deco {
    color: var(--main-color);
}

.container-top-section {
    margin-top: 8em;
}

.figure-img {
    height: 350px;
    background-position: center;
    background-size: cover;
}

.top-section-text {
    font-size: 28px;
}

.btn-website-top {
    font-size: 20px;
}

/* Work section */

.work-img {
    height: 300px;
}

.row-work-section {
    margin: 5em 5vw;
}

.work-headline-items {
    color: var(--complementary-color);
}

/* Blog section */

.container-projects img {
    height: max-content;
    width: 100%;
}
.row-projects {
    justify-content: center;
}

.col-projects {
    width: auto;
    margin: 5em 3em;
}

.card {
    box-shadow: 0 0 20px #ccc;
    margin: 1em 0;
}

.card-title {
    color: var(--complementary-color);
    font-weight: 600;
    font-size: 24px;
}

.card-footer {
    background-color: var(--main-color);
}

.card-link {
    color: var(--main-side-1);
    text-decoration: none;
}

.card-link:hover {
    color: var(--complementary-side);
}