.main {
    display: grid;
    grid-template-areas: "left middle right";
}

.container1 {
    grid-area: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container2 {
    grid-area: middle;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.container3 {
    grid-area: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.box {
    height: 100px;
    width: 100px;
    background-color: darkgoldenrod;
    margin: 10px;
    text-align: center;
}