{% extends 'partials/base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}Homepage{% endblock %}

{% block content %}

{% include 'partials/navbar.html' %}

<div class="container-fluid">
    <h3>Add Film</h3>
    {% include 'partials/message.html' %}
    <form method="POST">
        {% csrf_token %}
        <table class="table table-hover">
            {{film | crispy}}
        </table>
        <button type="submit" class="btn btn-primary add_form" style="margin: 10px 0;">Submit</button>
    </form>
</div>

{% endblock %}