/* CSS for project */

/* General */

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: rgba(255, 228, 196, 0.322);
}

main {
  flex: 1 0 auto;
}

.card-text-content {
  background-color: rgba(255, 0, 0, 0.123);
}

.card-text-p {
  color: rgb(54, 54, 54);
}

.draft-count {
  display: inline-block;
  margin-left: 1em;
  color: rgba(255, 0, 0, 0.6);
}

.card-content {
  font-size: 18px;
}

nav {
  margin: 0 0 5rem;
}

.navbar-greeting {
  margin-right: 8em;
}

.profile-logo {
  margin-left: 10px;
}

.blog-logo {
  min-width: 140px;
}

.btn {
  margin: 10px 0;
}

.small_text {
  font-size: 12px;
  color: rgba(37, 37, 37, 0.65);
}

.message {
  margin-right: 10px;
}

.card-log-a {
  color: black;
}

.blog-title .card-log-a {
  font-weight: 500!important;
  transition: 0.1s ease-in-out;
  width: max-content;
}

.card-log-a:hover {
  color: rgba(255, 0, 0, 0.6);
  width: max-content;
}

.card-content {
  width: 75vw;
  margin: auto;
}

.card .card-content p {
  word-break: break-all;
}

.blog-entry-answer {
  padding-top: 15px;
}

.fa-comments {
  margin-right: 10px;
}

.cmt_counter {
  font-size: 14px;
  color: rgb(66, 66, 66);
  padding: 5px;
}

.likes {
  display: inline-block;
  min-width: 45px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  height: 32.4px;
  line-height: 32.4px;
  font-size: 18px;
  vertical-align: middle;
  z-index: 1;
  overflow: hidden;
  background-color: #42A5F5;
  font-weight: 600;
  color: white;
  border-radius: 2px;
  margin-left: auto;
  padding: 0 16px;
  box-shadow: 0 1.5px 4px rgba(119, 119, 119, 0.9);
}

.logo-footer {
  margin: 10px;
}

/* Blog view */

.pagination li a {
  padding: 0 5px!important;
}

/* Sign up */

.signup {
  width: 50vw;
  margin: auto;
}

.signup_change {
  width: 70vw;
  margin: auto;
}

.file-field {
  width: 25vw;
}

.file-path-wrapper {
  width: 0;
}

/* Log In */

.login {
  width: 50vw;
  margin: auto;
}

/* Messages */

.alert {
  border-radius: 4px;
  padding: 7px;
  margin: auto;
  width: 50vw;
  color: rgba(0, 0, 0, 0.7);
}

.alert-error {
  background-color: rgba(255, 54, 54, 0.2);
}

.alert-success {
  background-color: rgba(88, 255, 54, 0.2);;
}

/* File */

.card .card-content .card-title {
  margin-bottom: 0!important;
}

.file-content {
  padding: 10px!important;
}

.file-content p {
  font-size: 20px!important;
}

.card-upload-text {
  font-size: 12px;
  color: grey;
}