body {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    background-color: grey;
}

#grid-pad {
    display: grid;
    height: 100vh;
    background-color: grey;
    padding: 5px;
    grid-gap: 1px;
    grid-template-columns: repeat(60, 1fr);
    grid-template-rows: repeat(24, 1fr);
}

#grid-pad > div {
    background-color: white;
}

#sidebar {
    display: grid;
    width: 25%;
    height:100vh;
    padding: 5px;
    float: left;
    background-color: grey;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

#sidebar > div {
    border: 1px solid black;
}

.button-reset {
    display: inline-block;
    grid-column: 1/4;
    font-size: 22px;
    border: 1px solid black;
}