body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.div_img {
    display: flex;
    height: 100%;
    width: 150px;
    margin: 10px;
    padding: 10px;
}

li {
    font-size: 20px;
    font-weight: bold;
}