{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}Liked posts{% endblock %}

{% block content %}

{% include 'navbar.html' %}

<div class="container">
  <div class="row">
    <div class="col">
      <a href="{% url 'new-entry' %}" class="waves-effect waves-light btn blue lighten-1">Create a post</a>
    </div>
    <div class="col">
      {% for post in liked %}
      <a class="card-log-a" href="{% url 'blog-entry' post.id %}">
        <div class="card">
          <div class="card-content">
            <div class="card-image" style="display: inline-flex; justify-content: center;">
              <img src="{{user.profile.image}}" alt="" style="width: 50px; height: 50px; border-radius: 50%;">
              <span style="margin: auto 10px;">{{user.username}}</span>
            </div>
            <div class="divider"></div>
            <h5 class="card-title blog-title">{{post.headline}}</h5>
            <p class="card-text">{{post.content}}</p>
            <small class="small_text">Created: {{post.updated | timesince}} ago</small>
          <p class="cmt_counter"><i class="far fa-comment"></i> {{post.comment_set.all.count}}</p>
          {% if request.user.profile == post.profile %}
            <a class="waves-effect waves-light btn-small  green lighten-2" href="{% url 'blog-edit' post.pk %}">Edit</a>
            <a class="waves-effect waves-light btn-small red lighten-2" href="{% url 'blog-delete' post.pk %}">Delete</a>
          {% endif %}
          <button type="submit" class="waves-effect waves-light btn-small right blue lighten-1 button-like" value="{{post.id}}" id="like_btn_{{post.id}}"><i class="far fa-heart"></i></button>
          <span class="likes right" id="like_count_{{post.id}}">{{post.sum_likes}}</span>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}