{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}Blog{% endblock %}

{% block content %}

{% include 'navbar.html' %}

<div class="container">
  <div class="row">
    <div class="col">
      <a href="{% url 'new-entry' %}" class="waves-effect waves-light btn blue lighten-1">Create a post</a>
    </div>
    <div class="col">
      {% for post in posts %}
      <a class="card-log-a" href="{% url 'blog-entry' post.id %}">
        <div class="card">
          <div class="card-content">
            <h5 class="card-title blog-title">{{post.headline}}</h5>
            <p class="card-text">{{post.content}}</p>
            <small class="small_text">Created: {{post.updated | timesince}} ago by {{post.profile.user}}</small>
          <p class="cmt_counter"><i class="far fa-comment"></i> {{post.comment_set.all.count}}</p>
          {% if request.user.profile == post.profile %}
            <a class="waves-effect waves-light btn-small  green lighten-2" href="{% url 'blog-edit' post.pk %}">Edit</a>
            <a class="waves-effect waves-light btn-small red lighten-2" href="{% url 'blog-delete' post.pk %}">Delete</a>
          {% endif %}
          <button type="submit" class="waves-effect waves-light btn-small right blue lighten-1 button-like" value="{{post.id}}"><i class="far fa-heart"></i></button>
          <span class="likes right" id="like_count_{{post.id}}">{{post.sum_likes}}</span>
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>

<script>
    $(document).on('click', '.button-like', function (e) {
    e.preventDefault();
    const csrftoken = getCookie('csrftoken');
    $.ajax({
      headers: {'X-CSRFToken': csrftoken},
      type: 'POST',
      url: '{% url "blog-like" %}',
      data: {
        postid: e.currentTarget.value,
        action: 'post',
      },
      success: function (json) {
        document.getElementById("like_count_" + json['id']).innerHTML = json['result']
      },
      // error: function (xhr, errmsg, err) {

      // }
    });
  })

  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
  }
</script>

{% endblock %}