{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-image">
              <img src="../media/https _blogs-images.forbes.com_gilpress_files_2018_03_Tel_Aviv_Promenade_panoramics.jpg" style="height: max-content; width: 100%;">
            </div>
            <div class="card-content card-text-content">
              <h6 class="card-text-p center">Welcome to the international couples blog. Here you can ask questions, get answers and stream files for any kind of process.</h6>
              <h6 class="card-text-p center">We're trying to help each other out, so be kind to each other.</h6>
            </div>
          </div>
        </div>
    </div>
</div>

{% endblock %}