body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    list-style-type: none;
    background-size: cover;
}

header {
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
    background-color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: right;
}
  
li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111;
}

.logo {
    height: 50px;
    cursor: pointer;
    float: left;
    margin: 5px 5px;
}

input[type=text], input[type=password] {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
  
button {
    background-color: #2f302f;
    color: white;
    padding: 14px 10px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 120px;
}
  
button:hover {
    opacity: 0.8;
}
  
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #8b2019;
    border-radius: 5px;
}
  
.container {
    padding: 16px;
    text-align: center;
}
  
.psw {
    float: right;
    padding-top: 16px;
    text-decoration: none;
    font-size: 15px;

}

.psw a {
    text-decoration: none;
    color: white;
    background-color: #8b2019;
    padding: 5px;
    border-radius: 3px;

}

.psw a:hover {
    opacity: 0.8;

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
  
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}