<ul id="dropdown1" class="dropdown-content">
    <li><a href="{% url 'blog' %}">Blog</a></li>
    {% if user.is_authenticated %}
    <li><a href="{% url 'blog-drafts' %}">Blog drafts<span class="draft-count">{{user.profile.drafts.count}}</span></a></li>
    {% endif %}
  </ul>

<nav>
    <div class="nav-wrapper blue lighten-1">
        {% if user.is_authenticated %}
            <div class="right" style="margin-right: 10px;">Hello <span style="font-weight: 700;">{{user.username}}</span></div>
        {% endif %}
        <a href="#" class="brand-logo center" >Inco</a>
        <a href="#" data-target="mobile-links" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="left hide-on-med-and-down">
        {% if user.is_superuser %}
            <li><a href="{% url 'admin:index' %}">Admin</a></li>
        {% endif %}
        {% if user.is_authenticated %}
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
        {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
        {% endif %}
        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-links">
    {% if user.is_superuser %}
    <li><a href="{% url 'admin:index' %}">Admin</a></li>
    {% endif %}
    {% if user.is_authenticated %}
    <li><a href="{% url 'profile' %}">Profile</a></li>
    <li><a href="{% url 'logout' %}">Log Out</a></li>
    {% else %}
    <li><a href="{% url 'signup' %}">Sign Up</a></li>
    <li><a href="{% url 'login' %}">Log In</a></li>
    {% endif %}
    <li class="divider"></li>
    <li><a href="{% url 'blog' %}">Blog</a></li>
    {% if user.is_authenticated %}
    <li><a href="{% url 'blog-drafts' %}">Blog drafts<span class="draft-count">{{user.profile.drafts.count}}</span></a></li>
    {% endif %}
</ul>