@import url('https://fonts.googleapis.com/css?family=Raleway');

:root {
    --main-color: #202B9E;
    --main-side-1: #878DFF;
    --main-side-2: #5057EB;
    --complementary-color: #bd990a;
    --complementary-side: #EBD276;
}

body {
    line-height: 1.5;
    box-sizing: border-box;
    display: block;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Raleway";
    color: var(--complementary-color);
}

p {
    color: darkslategrey;
}

.text-center {
    margin: 5rem 0;
    text-transform: capitalize;
}

/* Navbar items */

.navbar-home {
    margin-left: 5em;
    padding-top: .5rem;
    padding-bottom: .5rem;
    text-decoration: none;
    color: var(--complementary-side);
    font-weight: 400;
    font-size: 22px;
}

.navbar-home:hover {
    color: ivory;
}

.link-top {
    font-size: 18px;
    margin-right: 16px;
    padding: 8px;
    color: ivory;
    transition: 0.1s ease-in-out all;
}

.link-top:hover {
    color: var(--main-color);
    background-color: ivory;
}

.navbar, .btn {
    background-color: var(--main-color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Container with background */

.container-top {
    position: relative;
    height: 100vh;
}
  
.container-top::after {
    content: "";
    background: url('images/header.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;   
}

.headline {
    align-content: center;
    margin-top: 200px;
    text-transform: capitalize;
    font-weight: 500;
}

.text-top {
    font-size: 24px;
    font-weight: 500;
    color: darkslategrey;
    padding-right: 20vw;
    text-align: justify;
}

.btn-top {
    color: ivory;
    font-weight: 300;
    font-size: 20px;
    width: max-content;
    height: max-content;
}

.btn-top:hover {
    opacity: 0.9;
    background-color: rgb(73, 73, 73);
    color: ivory;
}

/* Section Background-color after Background-picture top */

.start-about-me {
    background-color: ivory;
}

/* About Me part */

.about-me-headline {
    padding-top: 5rem;
}

.container-about-me {
    justify-content: center;
}

.about-me-name {
    color: var(--main-side-2);
    margin: 0 0 8px;
}

.profile {
    margin: 0 0 1em;
}

.img-about-me {
    display: flex;
    justify-content: center;
}

.rounded-circle {
    width: max-content;
    height: auto;
}

.figure-caption {
    text-align: center;
    font-size: 18px;
}

.col-about-me-bottom2{
    line-height: 2;
    padding: 32px;
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: left;
}

.about-me-article {
    padding: 1em 0;
    border-bottom: 2px solid var(--main-color);
}

/* Portfolio */

.container-portfolio img {
    justify-content: center;
    height: 15rem;
    width: 100%;
}

.row-portfolio-img {
    justify-content: center;
    margin: 0 15%;
}

.portfolio-img {
    align-self: center;
    display: flex;
    margin: 1rem;
    border-style: none;
    box-shadow: 0 0 20px #ccc;
}

/* Projects */

.container-projects img {
    height: 12rem;
    width: 100%;
}
.row-projects {
    justify-content: center;
}

.col-projects {
    width: auto;
    margin: 0 1rem;
}

.card {
    box-shadow: 0 0 20px #ccc;
    margin: 1rem 0;
}

.card-img-top {
    vertical-align: middle;
    border-style: none;
}

.card-footer {
    background-color: var(--main-side-2);
}

.card-link {
    color: ivory;
    text-decoration: none;
}

.card-link:hover {
    color: var(--complementary-side);
}

/* Team */

.container-team {
    margin-bottom: 8rem;
}

.row-team {
    justify-content: center;
}

.col-team {
    max-width: 18rem;
}

.name {
    background-color: var(--main-color);
    color: ivory;
    text-align: center;
    border-bottom-left-radius: 50%;
}

/* Footer */

hr {
    width: 70vw;
    margin-left: 15vw;
}

.container-footer {
    justify-content: center;
}

.row-footer {
    justify-content: center;
    width: 70vw;
    margin-left: 15vw;
}

.icons {
    display: flex;
    justify-content: center;
    margin-top: -4rem;
    margin-bottom: 1rem;
}

.fa-logo {
    margin: 0 0.4rem;
    font-size: 32px;
    color: var(--main-color);
}

.footer-element {
    margin-bottom: 1rem;
}

.input-placeholder {
    font-size: 16px;
}

.btn-footer {
    color: ivory;
    border: none;
    margin-bottom: 5rem;
}

.btn-footer:hover {
    color: ivory;
    opacity: 0.9;
    background-color: rgb(73, 73, 73);
}